# ===========================
# Executables
# ===========================
*.exe
*.out

# ===========================
# Object files
# ===========================
*.o
*.obj

# ===========================
# Libraries
# ===========================
*.a
*.lib
*.dll

# ===========================
# Build directories
# ===========================
build/
bin/

# ===========================
# VS Code
# ===========================
.vscode/*.log

# ===========================
# OS files
# ===========================
.DS_Store
Thumbs.db